* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

header {
  height: 50px;
  background-color: aqua;
}

.meme-editor {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-inline-end: 10%;
  margin-inline-start: 10%;
}

.line-controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.image-gallery img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 30px;
  background-color: aqua;
  text-align: center;
}

@media (max-width: 740px) {
  .meme-editor {
    flex-direction: column;
  }
  .my-canvas {
    width: auto;
  }
}
