* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: aliceblue;
  background-color: aqua;
}

header h1 {
  margin-left: 10px;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-buttons button {
  padding: 6px;
  border-radius: 5%;
  background-color: azure;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  color: rgb(151, 151, 233);
}

.header-buttons button:hover {
  background-color: rgb(112, 112, 150);
}

.btn-gallery {
  margin-right: 10px;
}

.btn-burger {
  display: none;
}

.nav ul {
  display: flex;
  list-style: none;
}

.meme-editor {
  display: none;
  justify-content: center;
  margin-top: 50px;
  margin-inline-end: 10%;
  margin-inline-start: 10%;
}

.line-controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline-end: 20%;
  margin-inline-start: 20%;
  margin-top: 10px;
  background-color: gainsboro;
}
.image-gallery img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

.saved-memes {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.saved-memes img {
  width: 200px;
  margin-inline-start: 10px;
}

.memes {
  display: flex;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline-end: 20%;
  margin-inline-start: 20%;
  margin-top: 60px;
}

.about h1 {
  font-weight: bold;
}

.about img {
  border-radius: 50%;
  margin-right: 40px;
}

.info ul {
  margin-inline-start: 0;
  list-style: none;
  display: flex;
}

.info li {
  margin-right: 20px;
  margin-top: 5px;
  background-color: gold;
  padding: 10px;
}

.info a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  height: 80px;
  background-color: aqua;
  text-align: center;
}

.show-nav {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  top: 60px;
  right: 0px;
  z-index: 1;
  background-color: aqua;
  height: 100px;
}

/* edit meme section */

.line-controls {
  justify-content: space-around;
}

.line-controls button {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  cursor: pointer;
}

.upper-container {
  display: flex;
  flex-direction: column;
}

.below-sec {
  display: flex;
  justify-content: space-around;
  margin-block-start: 20px;
}

.line-controls img {
  width: 25px;
  height: 25px;
}
.color-picker {
  /* background-image: url('img/color.png'); */
}

.download {
  text-decoration: none;
  background-color: tomato;
  height: 40px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10%;
}

.btn-save {
  background-color: tomato;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
  padding-inline-end: 36px;
}

.middle-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.middle-below {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.save-sec {
  display: flex;
  justify-content: right;
  justify-content: space-around;
}

@media (max-width: 740px) {
  .nav {
    display: none;
  }

  .nav ul {
    flex-direction: column;
  }

  .btn-gallery {
    margin-bottom: 10px;
  }

  .btn-burger {
    display: flex;
  }

  .meme-editor {
    flex-direction: column;
  }
  .my-canvas {
    width: auto;
  }

  .about {
    flex-direction: column;
  }

  .line-controls {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .save-sec {
    margin-top: 15px;
  }

  .memes {
    flex-direction: column;
  }
}
